@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  width: 50rem;
  overflow: hidden;
}

#section-1 {
  background: url("../Assets/iPhone\ Mockup.png");
}

.checkbox {
  width: 1.8rem;
  height: 1.1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 28rem;
  }
}
